.mainTitle {
	margin-block: 0.75em;
	font-size: var(--font-size-h1);
	color: var(--clr-secondary-100);
}

.secondaryTitle {
	margin-bottom: 0.5em;
	font-size: 2.2rem;
	font-weight: var(--font-weight-700);
	text-align: center;
	color: var(--clr-secondary-100);
}
