.starIcon {
	display: inline-flex;
	place-content: center;
	padding: 1.2em;
	font-size: 1rem;
	background-color: var(--clr-secondary-400);
	border-radius: var(--border-radius-circle);
}

.thankYouIcon img {
	margin: auto;
}